* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

button {
  position: relative;
  z-index: 1;
  border: none;
  padding-inline: 10px;
  padding-block: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.planet-focus {
  min-width: 100px;
  border: none;
  text-transform: capitalize;
}
